* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(images/664f406602e8bd35e1222c11-pic_32ratio_900x600-900x600-42710.jpg);
    background-size: 400px 400px;
    background-position: center;
    color: #000;
}

.catalog {
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.catalog.visible {
    display: block;
    opacity: 1;
}

.card-img {
    width: 12em;
}

.intro {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.intro.visible {
    opacity: 1;
}

.intro.hidden {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}


.intro-h2 {
    font-size: 2rem;
}

header {
    background-image: url(images/download.jpg);
    color: white;
    padding: 7rem;
    text-align: center;
}

.quiz-catalog {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    width: 100%;
    max-width: 1200px;
}

.quiz-item {
    background-color: #f9f9f9;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    border: 1px solid #000;
}

.quiz-item h2 {
    margin-bottom: 0.5rem;
    color: #000;
}

.quiz-item p {
    margin-bottom: 1rem;
    color: #333;
}

.start-btn {
    padding: 0.75rem 1.5rem;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.start-btn:hover {
    background-color: #333;
}

footer {
    text-align: center;
    padding: 1rem;
    background-color: #000;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    display: none;
}

.katalog-cards {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.quiz-section {
    padding: 2rem;
    background-image: url(images/85427aee-1429-4fa7-bdd1-d1d660fa3273.jpg);
    background-position: center;
    background-size: 20%;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
}

.quiz-section h2 {
    color: #0073e6;
}

.quiz-question {
    margin-bottom: 1rem;
}

.submit-btn {
    padding: 0.75rem 1.5rem;
    background-color: #0073e6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-btn:hover {
    background-color: #005bb5;
}
